/* Copyright 2021 Google LLC.
SPDX-License-Identifier: Apache-2.0 */

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div,
p,
td {
  font-family: Google Sans Text, Google Sans, sans-serif;
  font-size: 16px;
}

.hidden {
  display: none;
}

a {
  color: #3740ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  /* Bit of a hack... Hides display instability. */
  animation: fadeIn 0.3s ease-in;
  background-color: #fefefe;
  margin: 0;
  min-width: 300px;
  padding: 25px 20px 10px 20px;
}

button {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #444;
  cursor: pointer;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}

button:hover {
  background-color: #ccc;
  color: black;
}

code {
  font-family: 'Consolas', 'Roboto Mono', monospace;
}

details {
  border-bottom: 4px dotted #fef1ff;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  width: 770px;
}

details:last-of-type {
  margin: 0 0 50px 0;
}

details[open] summary ~ * {
  animation: animateDown 0.2s ease-in forwards;
}

div.details {
  color: #666;
  line-height: 2em;
  margin: 0 0 20px 0;
}

div.learn-more::before {
  content: '⇒';
  padding: 0 2px 0 0;
  position: relative;
  top: -1px;
}

div.overview {
  font-family: monospace;
}

h1 {
  color: #444;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  border-bottom: 2px solid #fef1ff;
  line-height: 1.5em;
  margin: 0 0 25px 0;
  padding: 0 0 20px 0;
}

h2 {
  color: #444;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 30px 0 20px 0;
}

#overview h2 {
  margin: 30px 0 12px 10px;
}

main {
  margin: 0 auto 50px auto;
}

#overview section {
  margin: 0 0 20px 0;
}

#error section,
#warning section {
  margin: 0 0 10px 0;
  padding: 0 0 30px 0;
  border-bottom: 2px solid #fef1ff;
}

#error section:last-of-type,
#warning section:last-of-type {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

summary {
  color: #666;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
}

/* .inactive means summaries without content, e.g. 'No errors found.' */
summary:not(.inactive):hover {
  color: #3740ff;
}

summary:not(.inactive)::before {
  border: 1px solid;
  border-color: white;
  border-radius: 50%;
  content: '⌃'; /* 180° rotated */
  display: inline-block;
  height: 20px;
  left: 0;
  margin: 0 5px 0 0;
  padding: 5px 0 0 5px;
  position: relative;
  top: 1px;
  transform: rotate(180deg);
  transition: background 0.2s, color 0.2s, transform 0.2s;
  width: 20px;
}

summary:not(.inactive):hover::before {
  background: #e7e8ff;
}

summary:not(.inactive):active::before {
  border-color: #3740ff;
}

details[open] summary::before {
  content: '⌃';
  transform: rotate(0);
}

/* .inactive means summaries without content, e.g. 'No errors found.' */
summary.inactive {
  color: #666;
  cursor: inherit;
  font-weight: normal;
  list-style: none;
}

table {
  background-color: #fef6ff;
  padding: 10px;
}

td {
  font-size: 14px;
  padding: 0 20px 5px 0;
  text-align: left;
  vertical-align: top;
}

th {
  color: #444;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  padding: 0 20px 5px 0;
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
