{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-unused-vars": [2, { "args": "none" }],
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "camelcase": [2, { "properties": "always" }],
    "curly": 2,
    "default-case": 2,
    "dot-notation": 2,
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "max-len": [0],
    "new-cap": 2,
    "no-console": 0,
    "no-else-return": 0,
    "no-eval": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": [2, { "max": 2 }],
    "no-shadow": 2,
    "no-trailing-spaces": 2,
    "no-unused-expressions": 2,
    "no-unused-vars": [2, { "args": "none" }],
    "padded-blocks": [2, "never"],
    "semi": [2, "always"],
    "spaced-comment": 2,
    "valid-typeof": 2
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "preact",
    "plugin:mocha/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {},
  "plugins": ["mocha"],
  "overrides": [
    {
      "files": ["*.spec.js"],
      "rules": {
        "no-unused-expressions": 0
      }
    }
  ],
  "ignorePatterns": ["build/"]
}
