html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#preact_root {
  width: 770px;
  min-height: 400px;
}

.tabWrapper {
  border-bottom: 1px solid #ccc;
}

.tabs {
  margin: 10px 10px -2px;
}

.tabs button {
  text-transform: none;
  font-weight: normal;
}
