/* Copyright 2021 Google LLC.
SPDX-License-Identifier: Apache-2.0 */

.form-troubleshooter-highlight {
  outline: 2px solid #ff0000;
  position: relative;
}

.form-troubleshooter-highlight:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ff000022;
  z-index: 999;
}
