/* Copyright 2021 Google LLC.
SPDX-License-Identifier: Apache-2.0 */

#form-troubleshooter-highlight-click-overlay,
#form-troubleshooter-highlight-hover-overlay {
  position: absolute;
  box-sizing: border-box;
  transition: top 0.2s, left 0.2s, height 0.2s, width 0.2s, opacity 0.2s;
}

#form-troubleshooter-highlight-click-overlay.in,
#form-troubleshooter-highlight-hover-overlay.in {
  opacity: 1;
  clip: auto;
}

#form-troubleshooter-highlight-click-overlay.out,
#form-troubleshooter-highlight-hover-overlay.out {
  opacity: 0;
  animation-duration: 0.2s;
  animation-name: overlay-disappear;
  clip: rect(0, 0, 0, 0);
}

@keyframes overlay-disappear {
  from {
    clip: auto;
  }

  to {
    clip: auto;
  }
}

#form-troubleshooter-highlight-click-overlay {
  outline: 2px solid #ff0000;
  outline-offset: 2px;
  z-index: 9999;
}

#form-troubleshooter-highlight-hover-overlay {
  background-color: #ff000011;
  z-index: 999;
  transition: top 0.2s, left 0.2s, height 0.2s, width 0.2s, opacity 0.2s 0.2s;
}

#form-troubleshooter-highlight-click-overlay,
#form-troubleshooter-highlight-hover-overlay {
  position: absolute;
  box-sizing: border-box;
  transition: top 0.2s, left 0.2s, height 0.2s, width 0.2s, opacity 0.2s;
}
