name: bump version

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version number
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: bump version
        run: |
          git config --global user.name '${GITHUB_ACTOR}'
          git config --global user.email '${GITHUB_ACTOR}@users.noreply.github.com'
          git commit -m "chore: bump version to ${GITHUB_EVENT_INPUTS_VERSION}

          release-as: ${GITHUB_EVENT_INPUTS_VERSION}" --allow-empty
          git push
        env:
          GITHUB_EVENT_INPUTS_VERSION: ${{ github.event.inputs.version }}
