name: build

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - name: publish extension
        run: scripts/publish.sh
        env:
          EXTENSION_ID: ${{secrets.EXTENSION_ID}}
          CLIENT_ID: ${{secrets.GOOGLE_CLIENT_ID}}
          CLIENT_SECRET: ${{secrets.GOOGLE_CLIENT_SECRET}}
          REFRESH_TOKEN: ${{secrets.GOOGLE_REFRESH_TOKEN}}
